<table id="jobs">
  <thead>
    <tr>
      <th>id</th>
      <th>priority</th>
      <th>attempts</th>
      <th>last_error</th>
      <th>run_at</th>
      <th>locked_at</th>
      <th>failed_at</th>
      <% if Delayed::Job.respond_to?( 'completed_at' ) then %><th>completed_at</th><% end %>
      <th>locked_by</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr class="job" id="job-<%= job.id %>">
        <td><%= job.id %></td>
        <td><%= job.priority %></td>
        <td><%= job.attempts %></td>
        <td><%= truncate(job.last_error || '-', :length => 40) %></td>
        <td><%= job.run_at.present? ? job.run_at.to_s(:short) : '-' %></td>
        <td><%= job.locked_at.present? ? job.locked_at.to_s(:short) : '-' %></td>
        <td><%= job.failed_at.present? ? job.failed_at.to_s(:short) : '-' %></td>
        <% if Delayed::Job.respond_to?( 'completed_at' ) then %><td><% job.completed_at.present? ? job.completed_at.to_s(:short) : '-' %></td><% end %>
        <td><%= job.locked_by || '-' %></td>
        <td><%= job.created_at.to_s(:short) %></td>
        <td><%= job.updated_at.to_s(:short) %></td>
        <th><%= link_to('Stop', {:action => :delete, :id => job.id}, :method => :delete, :class => 'delete') %></th>
      </tr>
      <tr class="job-details" id="job-details-<%= job.id %>">
        <td colspan="11">
          <p><pre><%= job.to_yaml %></pre></p>
          <p>
            <pre>
            <%= job.last_error.to_s.gsub("\\n", "\n") %>
            </pre>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @jobs %>

<p>
<%= if !@status.nil? && !@status.empty? then "Delayed_job service status :#{@status}" end %>
<%= link_to 'Check current status', delayed_job_admin_check_status_path, :confirm => "Are you sure?", :title => "Restart delayed job?" %>
<%= link_to 'Restart', delayed_job_admin_restart_path, :confirm => "Are you sure?", :title => "Restart delayed job?" %>
</p>

<script>
  $(document).ready(function(){

    $(".job").hover(
      function () {
        $(this).css("cursor", "pointer");
        $(this).addClass("hover");
      },
      function () {
        $(this).removeClass("hover");
      }
    );

    $(".job").click(function(event){
    if (! $(this).hasClass('delete') ) {
          $(this).next("tr").toggle();
    }
    });

  });
</script>
